.row{
  height: 80vh;
}
img {
  width: 100%;
  height: 50vh;
}
.row.align-items-center.justify-content-center.row-style{
	width: 55vh;
	height: 50vh;
	border: 1px solid grey;
	border-radius: 5px;
}
span{
	width: 20%;
}
.col-lg-10{
	margin-top: 5vh;
}